body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    max-width: 900px;
    border: 1px black solid;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.left {
    /* flex-shrink: 1;
flex-grow: 1;
flex-basis: auto; */
    flex: 1;
    /* width: 40%; */

    background: linear-gradient(to right, #3498db, #2980b9);
    display: flex;
    color: #fff;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 300ms ease;

}

.left:hover {
    transform: scale(1.05);
}

.left img {
    max-width: 50%;
    height: auto;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.left img:hover {
    transform: rotate(10deg);
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.social-media a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.social-media a:hover {
    transform: translateY(-5px);
}

.social-media a i {
    transition: text-shadow 0.3s ease;
}

.social-media a i:hover {
    text-shadow: 7px 1px 3px rgba(0, 0, 0, 0.3);
    ;
}

.sign-in-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #fff;
    color: #3498db;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sign-in-btn:hover {
    background-color: #58a8de;
    color: white;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.form-title {
    text-align: center;
    color: #2980b9;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.right {
    flex: 1.5;
    background: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group {
    margin-bottom: 15px;

}

.form-group button {
    margin-top: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 8px;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #3498db;
}
.msg {
    font-size: 12px;
    color: green;
    margin-top: 5px;
}
.invalid {
    font-size: 12px;
    color: red;
}